*{
  margin:0;
  padding:0;
}
.header{
  min-height: 100vh;
  width: 100%;background-image: linear-gradient(rgba(4,9,30,0.7),url(downloads/clothes.jpeg);
    back-position:center;
    background-size: cover;
    position:relative;
    
}
nav{
  display:flex;
padding:2% 6%;
  justify-content:space-between;
align-items: center
body {
    margin: 60px auto;
    width: 70%;
}
nav ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 2px;
    list-style: none;
    font-weight: bold;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
  Background-color:Red
}
p {
    font-size: 1.1em;
    line-height: 1.1em;
    color: #333;
}
footer {
    border-top: 3px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}
